{% extends 'base/wrapper.html' %}
{% load crispy_forms_tags %}

{% block content %}

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <div class="container py-5">
          <h3>Your Fosterer Profile: Page {{ stageNumber }} of 6</h3>
          {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
          <div>
            {% if stage_id == 'pet-experience' %}
                <form method="post">
                {% csrf_token %}
                <legend>Number of Pets</legend>
                {{ form.num_existing_pets|as_crispy_field }}
                {{ formset.management_form }}
                <div id="pet-detail-section">
                    {% for pet_form in existing_pet_detail_formset %}
                        <div class="pet-detail">
                            <legend>Pet #{{ forloop.counter }} Details</legend>
                            {% crispy pet_form %}
                        </div>
                    {% endfor %}
                </div>
                <legend>Pet Experience</legend>
                {% for field in form %}
                    {% if not field.name == 'num_existing_pets' %}
                        {{ field|as_crispy_field }}
                    {% endif %}
                {% endfor %}
                <a href="/fosterer/animal-preferences" name="submit_prev" class="btn btn-primary btn btn-secondary" id="submit-id-submit_prev">
                « Previous page
                </a>
                <input type="submit" name="submit" value="Save and continue &raquo;" class="btn btn-primary" />

                </form>
                <script>
                    window.addEventListener('DOMContentLoaded', (event) => {
                        var petDetailSection = document.getElementById('pet-detail-section');
                        var petDetails = petDetailSection.getElementsByClassName('pet-detail');
                        for (var i = 0; i < petDetails.length; i++) {
                            petDetails[i].style.display = "none";
                        }
                        document.getElementById('num_existing_pets').addEventListener('change', function(){
                            event.preventDefault();
                            var numPets = this.value;
                            if (numPets > 5) numPets = 5;
                            for (var i = 0; i < petDetails.length; i++) {
                                petDetails[i].style.display = (i < numPets) ? "block" : "none";
                            }
                            setTimeout(() => {
                                if (petDetails.length > 0 && numPets > 0) {
                                    var firstInput = petDetails[0].querySelector('input[type=text]');
                                    if (firstInput) {
                                        firstInput.focus();
                                    }
                                }
                                else {
                                    var textarea = document.querySelector('textarea[name=experience_given_up_pet]');
                                    if(textarea){
                                        textarea.focus();
                                    }
                                }
                            }, 0);
                        });
                    });
                </script>
            <!-- end pet experience-->

            {% else %}
                {% crispy form %}
            {% endif %}

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
