{% load caim_helpers %}
{% load static %}
<div id="modal-backdrop" class="modal-backdrop fade show" style="display:block;"></div>
<div id="modal" class="modal fade show" tabindex="-1" style="display:block;">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div class="container-fluid" style="height: 100%;">
          <img
            class="mx-auto d-block"
            src="{% static 'img/thinking.svg' %}"
          >
          <div class="fs-3 text-center">Are you sure you want to accept this application?</div>
        </div>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col text-center">
              <h4 class="row">Applicant</h4>
              <div class="row">{{ app.fosterer.firstname }} {{ app.fosterer.lastname }}</div>
              <div>{{ app.fosterer.city }}, {{ app.fosterer.state }}</div>
            </div>
            <div class="col text-center">
              <h4 class="row">Animal</h4>
              <div class="row">
                <img
                  class="col"
                  style="background-color: #eee; clip-path: circle()"
                  src="{{ app.animal.primary_photo.url|image_resize:'75x75 crop' }}"
                >
                <div class="col">{{ app.animal.name}}</div>
              </div>
            </div>
            <form action="/organization/{{ awg.id }}/applications/{{ app.id }}" , method="post">
              {% csrf_token %}
              <input class="d-none" name="status" type="text" value="{{ app.Statuses.ACCEPTED | title }}"
                     readonly>
              <button
                class="btn btn-primary"
                hx-post="{% url 'awg_update_application_status_submit_modal' awg_id=awg.id application_id=app.id %}"
                hx-target="#awg-applications-modal"
                _="on htmx:afterOnLoad wait 10ms then add .show to #modal then add .show to #modal-backdrop"
              >Confirm</button>
            </form>
            <button type="button" class="btn btn-link" onclick="closeModal('awg-applications-modal')">cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
