{% extends 'awg/manage/base.html' %}
{% load caim_helpers %}

{% block innerContent %}
<div class="row">
  <h2>Foster Applications</h2>
  <div>Here's a list of all of your foster applicants. You can view, approve, reject or download each application.</div>
</div>
<div class="container mb-3">
  <div class="row d-md-none">
    <a class="filter-button" data-bs-toggle="collapse" href="#searchFilters" role="button">
    Show filters
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-3" id="searchFilters">
    <div class="card sticky-top" style="top:80px;">
      <div class="card-body">
        <form action="/organization/{{ awg.id }}/applications" method="get">
          <div class="text-center">
            <input type="submit" class="btn btn-primary" value="Update filters" />
          </div>
        <hr>
        <div class="filter">
          Application Status
          <select class="form-control" name="status">
            <option
              value=""
              {% if not filters.status %}selected{% endif %}
            >
            Any Status
            </option>
            {% for status_option in application_status_options %}
            <option
              value="{{ status_option }}"
              {% if filters.status == status_option %}selected{% endif %}
            >
            {{ status_option | title }}
            </option>
            {% endfor %}
          </select>
        </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="row" id="awg-applications-cards">
      {% for app in applications %}
      <div class="col-md-4 p-2">
        <div class="card" style="text-align: center;">
          <div class='card-title'>
            {% if app.status == app.Statuses.PENDING %}
            <button type="button" class="btn btn-warning fs-7" style="pointer-events: none;">{{ app.status.title }}</button>
            {% elif app.status == app.Statuses.ACCEPTED %}
            <button type="button" class="btn btn-success fs-7" style="pointer-events: none;">{{ app.status.title }}</button>
            {% elif app.status == app.Statuses.REJECTED %}
            <button type="button" class="btn btn-danger fs-7" style="pointer-events: none;">{{ app.status.title }}</button>
            {% else %}
            <button type="button" class="btn btn-info fs-7" style="pointer-events: none;">{{ app.status.title }}</button>
            {% endif %}
            <div>Applied on {{ app.submitted_on }}</div>
          </div>
          <div class="card-body">
            <h4>{{ app.fosterer.firstname }} {{ app.fosterer.lastname }}</h4>
            <div>{{ app.fosterer.city }}, {{ app.fosterer.state }}</div>

            {% if app.fosterer.rent_own == app.fosterer.RentOwn.RENT %}
            <div>Rents Home</div>
            {% elif app.fosterer.rent_own == app.fosterer.RentOwn.OWN%}
            <div>Owns Home</div>
            {% endif %}

            {% if app.fosterer.num_existing_pets > 1 %}
            <div>Pets: Yes</div>
            {% else %}
            <div>Pets: No</div>
            {% endif %}
            <a href="/fosterer/{{ app.fosterer.id }}/pdf">download profile</a>
          </div>
          <div class="card-body">
              <img
                style="background-color: #eee; clip-path: circle();"
                src="{{ app.animal.primary_photo.url|image_resize:'75x75 crop' }}"
              >
              <div>{{ app.animal }}</div>
              <a href="/animal/{{ app.animal.id }}">see profile</a>
          </div>
          <div class="card-footer">
            {% if app.status == app.Statuses.PENDING %}
            <button
              class="btn btn-primary"
              hx-get="/organization/{{ awg.id }}/applications/{{ app.id }}/modal/{{ app.Statuses.ACCEPTED }}"
              hx-target="#awg-applications-modal"
              _="on htmx:afterOnLoad wait 10ms then add .show to #modal then add .show to #modal-backdrop"
            >Accept</button>
            <button
              class="btn btn-secondary"
              hx-get="/organization/{{ awg.id }}/applications/{{ app.id }}/modal/{{ app.Statuses.REJECTED }}"
              hx-target="#awg-applications-modal"
              _="on htmx:afterOnLoad wait 10ms then add .show to #modal then add .show to #modal-backdrop"
            >Reject</button>
            {% else %}
            <!--
            <a
              class='btn'
              hx-get="/organization/{{ awg.id }}/applications/{{ app.id }}/modal/{{ app.Statuses.PENDING }}"
              hx-target="#awg-applications-modal"
              _="on htmx:afterOnLoad wait 10ms then add .show to #modal then add .show to #modal-backdrop"
            >Reset to Pending</a>
            -->
            {% endif %}
          </div>
        </div>
      </div>
      {% empty %}
      <p>No Applications</p>
      {% endfor %}
    </div>
  </div>
</div>
<div id="awg-applications-modal"></div>
{% endblock %}