{% load caim_helpers %}
{% load static %}
<div id="modal-backdrop" class="modal-backdrop fade show" style="display:block;"></div>
<div id="modal" class="modal fade show" tabindex="-1" style="display:block;">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div class="container-fluid" style="height: 100%;">
          <img
            class="mx-auto d-block"
            src="{% static 'img/sad.svg' %}"
          >
          <div class="fs-3 text-center">Application is rejected</div>
        </div>
      </div>
      <div class="modal-body">
        <div>We will inform the applicant!</div>
        <div class="container-fluid">
          <div class="row">
            <div class="col text-center">
              <h4 class="row">Applicant</h4>
              <div class="row">{{ app.fosterer.firstname }} {{ app.fosterer.lastname }}</div>
              <div>{{ app.fosterer.city }}, {{ app.fosterer.state }}</div>
            </div>
            <div class="col text-center">
              <h4 class="row">Animal</h4>
              <div class="row">
                <img
                  class="col"
                  style="background-color: #eee; clip-path: circle()"
                  src="{{ app.animal.primary_photo.url|image_resize:'75x75 crop' }}"
                >
                <div class="col">{{ app.animal.name}}</div>
              </div>
            </div>
            <form action="/organization/{{ awg.id }}/applications/{{ app.id }}" , method="post">
              {% csrf_token %}
              <input class="d-none" name="status" type="text" value="{{ app.Statuses.ACCEPTED | title }}"
                     readonly>
              <div class="row justify-content-center align-content-center">
                <div class="input-group">
                  <div class="col text-center">
                    <input type="submit" class="btn btn-primary" value="Confirm">
                  </div>
                </div>
              </div>
            </form>
            <a
              class="text-decoration-underline"
              hx-get="{% url 'awg_suggest_alternative_animal_modal' awg_id=awg.id application_id=app.id %}"
              hx-target="#awg-applications-modal"
            >Do you have another animal that you think they'd be a good fit for? Click Here</a>
            <button type="button" class="btn btn-link" onclick="closeModal('awg-applications-modal'); location.reload()">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
