{% load caim_helpers %}
<div id="modal-backdrop" class="modal-backdrop fade show" style="display:block;"></div>
<div id="modal" class="modal fade show" tabindex="-1" style="display:block;">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div class="container-fluid" style="height: 100%;">
            <h2 class="modal-title">Reject Application?</h2>
        </div>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <h3 class="row">Applicant</h3>
              <div class="row">{{ app.fosterer.firstname }} {{ app.fosterer.lastname }}</div>
              <div>{{ app.fosterer.city }}, {{ app.fosterer.state }}</div>
            </div>
            <div class="col">
              <h3 class="row">Animal</h3>
              <div class="row">
                <img
                  class="col"
                  style="background-color: #eee"
                  src="{{ app.animal.primary_photo.url|image_resize:'75x75 crop' }}"
                >
                <div class="col">{{ app.animal.name}}</div>
              </div>
            </div>
            <hr>
            <form action="/organization/{{ awg.id }}/applications/{{ app.id }}", method="post" style="height: 100%;">
            {% csrf_token %}
              <input class="d-none" name="status" type="text" value="{{ app.FosterApplicationStatus.REJECTED | title }}" readonly>
              <div class="row" style="height: 50%;">
              <div>Select the reason for rejection</div>
                <div class="input-group" style="height: 25%;">
                  <select class="form-control row" name="reject_reason">
                    <option
                      value=""
                    >
                    Select
                    </option>
                    {% for rr in reject_reasons %}
                    <option
                      value="{{ rr.0 }}"
                    >
                    {{ rr.1 }}
                    </option>
                    {% endfor %}
                  </select>
                </div>
                <div class="input-group" style="height: 75%;">
                  <textarea
                    name='reject_reason_detail'
                    class="form-control row"
                    aria-label="Rejection Reason"
                    placeholder="Please describe anything else you would like us to know"
                  ></textarea>
                </div>
              </div>
              <div class="input-group">
                <input type="submit" class="btn btn-primary" value="Confirm">
              </div>
            </form>
        	</div>
      	</div>
    	</div>
    	<div class="modal-footer">
    	  <button type="button" class="btn btn-secondary" onclick="closeModal('awg-applications-modal')">Close</button>
    	</div>
    </div>
  </div>
</div>