{% load static %}
{% load caim_helpers %}
<div id="modal-backdrop" class="modal-backdrop fade show" style="display:block;"></div>
<div id="modal" class="modal fade show" tabindex="-1" style="display:block;">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div class="container-fluid" style="height: 100%;">
            <img
              class="mx-auto d-block"
              src="{% static 'img/thinking.svg' %}"
            >
            <div class="fs-3 text-center">Are you sure you want to reject this application?</div>
        </div>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col text-start">
              <h4 class="row">Applicant</h4>
              <div class="row">{{ app.fosterer.firstname }} {{ app.fosterer.lastname }}</div>
              <div>{{ app.fosterer.city }}, {{ app.fosterer.state }}</div>
            </div>
            <div class="col text-end">
              <h4 class="row justify-content-end">Animal</h4>
              <div class="row justify-content-center">
                <img
                  class="row"
                  style="background-color: #eee; clip-path: circle()"
                  src="{{ app.animal.primary_photo.url|image_resize:'75x75 crop' }}"
                >
                <div class="row justify-content-center">{{ app.animal.name}}</div>
              </div>
            </div>
            <form action="/organization/{{ awg.id }}/applications/{{ app.id }}", method="post" style="height: 100%;">
            {% csrf_token %}
              <input class="d-none" name="status" type="text" value="{{ app.Statuses.REJECTED | title }}" readonly>
              <div class="row justify-content-start align-content-start text-start" style="height: 50%;">
              <div>Select the reason for rejection</div>
                <div class="input-group" style="height: 25%;">
                  <select class="form-control" name="reject_reason">
                    <option
                      value=""
                    >
                    Select
                    </option>
                    {% for rr in reject_reasons %}
                    <option
                      value="{{ rr.0 }}"
                    >
                    {{ rr.1 }}
                    </option>
                    {% endfor %}
                  </select>
                </div>
                <div class="input-group" style="height: 75%;">
                  <textarea
                    name='reject_reason_detail'
                    class="form-control row"
                    aria-label="Rejection Reason"
                    placeholder="Please describe anything else you would like us to know"
                  ></textarea>
                </div>
              </div>
              <button
                class="btn btn-primary"
                hx-post="{% url 'awg_update_application_status_submit_modal' awg_id=awg.id application_id=app.id %}"
                hx-target="#awg-applications-modal"
                _="on htmx:afterOnLoad wait 10ms then add .show to #modal then add .show to #modal-backdrop"
              >Confirm</button>
            </form>
        	  <button type="button" class="btn btn-link" onclick="closeModal('awg-applications-modal')">cancel</button>
        	</div>
      	</div>
    	</div>
    </div>
  </div>
</div>