{% extends 'base/wrapper.html' %}

{% block content %}
  <div class="bg-dark context-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-6 py-3 text-center text-md-start">
          {% block contextBack %}
            <a href="{{ awg.get_absolute_url }}">&laquo; View organization profile</a>
          {% endblock %}
        </div>
        <div class="col-md-6 py-2 text-center text-md-end d-bottom-mobile">
          {% block contextOptions %}

          {% endblock %}
          {% if currentUserPermissions %}
            <div class="dropdown d-inline">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Manage organization</button>
              <ul class="dropdown-menu">
                {% if 'EDIT_PROFILE' in currentUserPermissions %}
                  <li>
                    <a class="dropdown-item" href="{{ awg.get_absolute_url }}/edit">Edit organization profile</a>
                  </li>
                {% endif %}
                {% if 'MANAGE_ANIMALS' in currentUserPermissions %}
                  <li>
                    <a class="dropdown-item" href="{{ awg.get_absolute_url }}/animals">Manage animals</a>
                  </li>
                {% endif %}
                {% if 'MANAGE_MEMBERS' in currentUserPermissions %}
                  <li>
                    <a class="dropdown-item" href="{{ awg.get_absolute_url }}/members">Manage admins</a>
                  </li>
                {% endif %}
                {% if 'MANAGE_APPLICATIONS' in currentUserPermissions or 'VIEW_APPLICATIONS' in currentUserPermissions %}
                  <li>
                    <a class="dropdown-item" href="{{ awg.get_absolute_url }}/applications">Manage applications</a>
                  </li>
                {% endif %}
              </ul>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="container">
    {% for message in messages %}
      <div class="container-fluid p-0">
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          {{ message }}
        </div>
      </div>
    {% endfor %}
    {% block innerContent %}

    {% endblock %}
  </div>
{% endblock %}
