{% extends './base.html' %}
{% load caim_helpers %}
{% load crispy_forms_tags %}

{% block innerContent %}
  <style>
    legend {
      font-size: 1.2em;
      font-weight: bold;
      border-bottom: 1px solid #ccc;
      margin-top: 20px;
      background: #eee;
      padding: 8px;
    }
  </style>

  <div class="row">
    <div class="col-md-8">
      <h2>{{ awg.name }}</h2>

      {% crispy form %}
      <p>
        <br />
        <span class="asteriskField">*</span> denotes required field
      </p>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">Help / Info?</div>
      </div>
    </div>
  </div>
{% endblock %}
