{% load avatar_tags %}
{% load caim_helpers %}

{% if not user.is_authenticated %}
    <p class="text-center">
        Only registered users can post or see comments. Please,
        <a href="{% url 'login' %}?next={{ animal.get_absolute_url }}">log in</a>
        or <a href="{% url 'register' %}?next={{ animal.get_absolute_url }}">sign up</a>.
    </p>
{% else %}

    <h5 class="black-header">Comments:</h5>
    <div id="comments" class="py-3 text-muted">
        {{ commentCount }} comment{{ commentCount|pluralize }}
        ha{{ commentCount|pluralize:"s,ve" }} been posted.
    </div>

    {% for comment in comments %}

        <div class="comment" id="comment-{{comment.id}}">
            {% avatar comment.user 40 40 class="comment-avatar avatar" %}
            <div class="comment-inner">
                <div class="comment-username">{{comment.user.username}}</div>
                <div class="comment-body">{{comment.body|urlizetrunc:60|linebreaks}}</div>
                <div class="comment-meta">
                    <div>
                        <span data-timestamp="{{comment.created_at|date:'c'}}">
                            {{comment.created_at|date:'r'}}[{{comment.edited_at}}]
                        </span>
                        {% if comment.edited_at %}(edited){% endif %}
                    </div>
                    <div>
                        <a href="#comments" id="{{comment.id}}" class="reply">Reply</a>
                        {% if comment|can_be_edited_by:request.user %}| <a href="/comments/{{comment.id}}/edit">Edit comment</a>{% endif %}
                        {% if comment|can_be_deleted_by:request.user %}| <a href="/comments/{{comment.id}}/delete">Delete comment</a>{% endif %}
                    </div>
                </div>
            </div>
            <div class="sub-comments">
                {% for sub_comment in comment.get_sub_comments %}
                    <div class="comment" id="sub_comment-{{sub_comment.id}}">
                        {% avatar sub_comment.user 40 40 class="comment-avatar avatar" %}
                        <div class="comment-inner">
                            <div class="comment-username">{{sub_comment.user.username}}</div>
                            <div class="comment-body">{{sub_comment.body|urlizetrunc:60|linebreaks}}</div>
                            <div class="comment-meta">
                                <div>
                                    <span data-timestamp="{{sub_comment.created_at|date:'c'}}">
                                        {{sub_comment.created_at|date:'r'}}[{{sub_comment.edited_at}}]
                                    </span>
                                    {% if sub_comment.edited_at %}(edited){% endif %}
                                </div>
                                <div>
                                    {% if sub_comment|can_be_edited_by:request.user %}<a href="/reply/{{sub_comment.id}}/edit">Edit reply</a> |{% endif %}
                                    {% if sub_comment|can_be_deleted_by:request.user %}<a href="/reply/{{sub_comment.id}}/delete">Delete reply</a>{% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

    <form method="post" action="/comments/add">
        {% csrf_token %}
        <input type="hidden" name="animalId" value="{{animal.id}}" />
        <div class="comment">
            {% avatar user 40 40 class="comment-avatar avatar" %}
            <div class="comment-inner">
                <div class="comment-username text-muted">Ask something about this animal</div>
                <textarea rows="3" name="body"></textarea>
                <input type="submit" class="btn btn-primary mt-3 mb-2" value="Add comment" />
            </div>
        </div>
    </form>

{% endif %}
