{% extends 'base/wrapper.html' %}
{% load avatar_tags %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <div class="container py-5">
            <h3>Are you sure you want to delete this reply?</h3>

            <br />

            <div class="comment" id="comment-{{animalsubcomment.id}}">
                {% avatar animalsubcomment.user 40 40 class="comment-avatar avatar" %}
                <div class="comment-inner">
                    <div class="comment-username">{{animalsubcomment.user.username}}</div>
                    <div class="comment-body">{{animalsubcomment.body|urlizetrunc:60|linebreaks}}</div>
                    <div class="comment-meta">
                        <div data-timestamp="{{animalsubcomment.created_at|date:'c'}}">{{animalsubcomment.created_at|date:'r'}}</div>
                    </div>
                    <div class="my-3">
                        <form method="post" action="">
                            {% csrf_token %}
                            <input type="submit" value="Delete Reply" class="btn btn-danger" />
                            <a href="{{ animalsubcomment.comment.animal.get_absolute_url }}#comment-{{animalsubcomment.comment.id}}" class="btn btn-secondary">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
