{% extends 'base/wrapper.html' %}
{% load caim_helpers %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="bg-dark context-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-6 py-3">&nbsp;</div>
        <div class="col-md-6 pt-2 text-end d-none d-md-block">&nbsp;</div>
      </div>
    </div>
  </div>
  <br />
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>You must be logged in to list your organization</h2>

        <p>
          Please start by <a href="{% url 'login' %}?next=/organization/apply">logging in</a>
          or <a href="{% url 'signup' %}?next=/organization/apply">signing up.</a>
        </p>
      </div>

      <div class="col-md-4">
        <div class="card">
          <a class="card-body" href="mailto:hello@caim.org" >Help / Info?</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
