{% extends 'base/wrapper.html' %}
{% load caim_helpers %}

{% block content %}
  <div class="bg-dark context-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-6 py-3">&nbsp;</div>
        <div class="col-md-6 pt-2 text-end d-none d-md-block">
          {% if currentUserCanEdit %}
            <a href="{{ awg.get_absolute_url }}/edit" class="btn btn-secondary">Manage organization</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>{{ awg.name }}</h2>
        {{ awg.description|urlizetrunc:60|linebreaks }}
        <br />

        {% if paginator.count %}
          <h4>{{ paginator.count }} Animals available</h4>
          {% include 'components/animal_list.html' %}
          {% include 'components/animal_pagination.html' %}
        {% endif %}
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            {% include 'components/awg_address.html' %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
