{% extends 'base/wrapper.html' %}
{% load caim_helpers %}

{% block content %}
  <div class="bg-dark context-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-6 py-3">&nbsp;</div>
        <div class="col-md-6 pt-2 text-end d-none d-md-block">
          {% if currentUserPermissions %}
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Manage organization</button>
              <ul class="dropdown-menu">
                {% if 'EDIT_PROFILE' in currentUserPermissions %}
                  <li>
                    <a class="dropdown-item" href="{{ awg.get_absolute_url }}/edit">Edit organization profile</a>
                  </li>
                {% endif %}
                {% if 'MANAGE_ANIMALS' in currentUserPermissions %}
                  <li>
                    <a class="dropdown-item" href="{{ awg.get_absolute_url }}/animals">Manage animals</a>
                  </li>
                {% endif %}
                {% if 'MANAGE_MEMBERS' in currentUserPermissions %}
                  <li>
                    <a class="dropdown-item" href="{{ awg.get_absolute_url }}/members">Manage admins</a>
                  </li>
                {% endif %}
              </ul>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>{{ awg.name }}</h2>
        {{ awg.description|urlizetrunc:60|linebreaks }}
        <br />

        {% if paginator.count %}
          <h4>{{ paginator.count }} Animals available</h4>
          {% include 'components/animal_list.html' %}
          {% include 'components/animal_pagination.html' %}
        {% endif %}
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            {% include 'components/awg_address.html' %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
