/* @todo move into static asset */
.page-narrow .container {
    max-width: 1024px;
    ;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: #37CABA;
  }
  
  a {
    color: #37CABA;
  
  }
  
  .btn-primary {
    color: white;
    background: #37CABA;
  }
  
  .btn {
    border-radius: 50px;
    border: none;
  }
  
  input.text {
    border-radius: 50px;
  }
  
  .navbar {
    padding-top: 20px;
  }
  
  .navbar .nav-item a {
    padding: 8px 30px !important;
  }
  
  .nav-item a.btn {
    padding: 8px 50px !important;
  }
  
  .hero-mia {
    background-image: url(/static/img/HeroDog.png);
    background-position: 85% 100%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 600px;
  }
  
  
  
  .card {
    border: 1px solid #ddd;
    box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.2);
  
  }
  
  .animal-card {
    margin-bottom: 1.5em;
    text-align: center;
    padding: 2px;
    ;
  }
  
  .animal-card:hover {
    cursor: pointer;
    border: 3px solid #37CABA;
    padding: 0px;
  }
  
  .animal-card h5 {}
  
  .animal-card .card-img-top {
    height: 200px;
    background-size: cover;
    background-position: center;
  }
  
  .filter {
    margin-bottom: 1em;
  }
  
  .text-xsmall {
    font-size: 13px;
  }

.btn{
    padding: 0.375rem 1.5rem ;
}

.asteriskField {
    color: red;
}

.text-small{
    font-size: 80%;
}

.context-bar {
    position: sticky;
    top: 0;
    z-index: 9999;
}
.context-bar .btn {
    margin-top: 3px;
}

.avatar {
    border-radius: 50%;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    margin-top: 20px;
    background: #eee;
    padding: 8px;
}

.table-header thead tr {
    background-color: #eee;
  }

/* Browse */

.animal-shortlist {
    position: absolute;
    background: white;
    border-radius: 30px;
    right: 8px;
    top: 8px;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.5);
    width: 32px;
    height: 32px;
    line-height: 36px;
    text-align: center;
}

.animal-shortlist-selected {
    background: #37CABA;
    color: white;
}

.animal-card:hover .animal-shortlist {
    right: 6px;
    top: 6px;
}

.animal-card h5 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    ;
}

.animal-card .card-img-top {
    height: 300px;
    background-size: cover;
    background-position: center;
}

/* Animal */
.animal-slideshow {
    text-align: center;
    padding-bottom: 8px;
    min-height: 300px;
}

.animal-slideshow img {
    max-width: 100%;
}

.animal-slideshow .lSSlideOuter .lSPager.lSpg li a {
    background: #666;
}

.animal-slideshow .lSSlideOuter .lSPager.lSpg li.active a {
    background: #eee;
}

/* Comments */
.comment {
    padding-left: 50px;
    position: relative;
    margin-bottom: 8px;
}

.comment-avatar {
    position: absolute;
    top: 4px;
    left: 0px;
}

.comment .comment-inner {
    padding: 6px 10px;
    border-radius: 7px;
    background: #f5f5f5;
}

.comment .comment-inner::before {
    content: '';
    position: absolute;
    border: 12px solid transparent;
    border-right: 12px solid #f5f5f5;
    top: 12px;
    left: 31px;
}

.comment .comment-username {}

.comment .comment-meta {
    color: #aaa;
    margin: 0px !important;
    font-size: small;
}

@media (min-width: 768px) {
    .comment .comment-meta {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.comment textarea {
    width: 100%;
    font-size: 12px;
}