<div class="modal" id="savedSearchModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Your search was saved</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          Search nickname: <span id="savedSearchModalSearchName"></span>
        </p>
        <p>We will send you a daily email with new matches to your saved searches.</p>
        <p>You can manage your saved searches from the menu in the top right corner of the page.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="location.reload()">Close</button>
      </div>
    </div>
  </div>
</div>
