{% extends "base/wrapper.html" %}

{% load static %}


{% block content %}

<style>
@media (max-width: 768px) {
  .home ul{
    list-style-position: inside;
    text-align: center;
  }
  .home ul {
    margin-left: -30px;
  }
  .row .hero-images {
     display: none;
    }
}
.hero-image{
  max-width: 100%;
}

.hero-image-1 {
  grid-column: 1;
  grid-row: 1;
  overflow: visible;
  z-index: 2;
}
.hero-image-background-1 {
  grid-column: 1;
  grid-row: 1;
  background-color: #37CABA;
  border-radius: 800px;
  width: 300px;
  height: 300px;
  bottom: -45px;
  left: -25px;
  position: relative;
  z-index: 1;
}
.hero-image-2 {
  grid-column: 2;
  grid-row: 2;
  z-index: 3;
}
.hero-images{
  display: grid;
  grid-template-columns: 175px 0;
  grid-template-rows: 175px 0;
}
</style>

<div class="home">
  <div class="bg-dark" style="min-height:calc(100vh)">
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-1 order-md-last pt-3 pb-5">
          <div class="hero-images">
            <div class="hero-image-background-1">
            </div>
            <img class="hero-image-1" src="{% static 'img/two-dogs-main.png' %}" alt="two dogs" />
            <img class="hero-image-2" src="{% static 'img/one-dog-main.png' %}" alt="one dog with one human" />
          </div>
        </div>
        <div class="col-md-5 pb-4 px-4 d-flex flex-column">
          <p class="fs-1 text-light fw-bold mt-0 mt-md-5 mb-5">
            Browse animals that are in need of a foster home
          </p>
          <p class="fs-4 text-light fw-lighter mt-0 mt-md-5 mb-5">
            Enter your ZIP Code to find animals near you.
          </p>
          <form class="form-inline" action="/browse" method="get">
            <div class="d-flex">
                <div class="px-1">
                  <input name="zip" pattern="[0-9]{5}"
                    required type="text" class="fs-4 form-control text"
                    placeholder="ZIP Code" />
                </div>
                <div class="px-1">
                  <input class="btn btn-primary px-5 d-block fs-4 text-dark fw-bold" type="submit" value="Search" />
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}